/* 全局字体 */
* {
  font-family: "PingFang SC", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
}

/* 导航栏 */
nav.navbar.user-info-navbar {
  background: rgba(255, 255, 255) !important;
  height: 66px;
}
.night nav.navbar.user-info-navbar {
  background: rgba(0, 0, 0) !important;
}
.user-info-navbar .user-info-menu > li {
  border-right: 0;
  height: 66px;
}
.user-info-navbar .user-info-menu > li > a {
  border-bottom: 0px;
  top: -4px;
}
.user-info-navbar .user-info-menu > li a[data-toggle="sidebar"] {
  padding-left: 20px;
}
.night .user-info-navbar .user-info-menu > li > a,
.user-info-navbar .user-info-menu > li > a {
  height: 66px !important;
}
.navbar {
  position: fixed;
  z-index: 1;
}
a.github-corner {
  position: fixed;
  right: 0;
}
.navbar.horizontal-menu.navbar-fixed-top {
  background: rgba(255, 255, 255) !important;
  height: 66px;
}
img.hidden-xs {
  position: absolute;
  left: 20px;
  top: 13px;
}

/* GitHub 右上角 猫 */
.night a.github-corner svg {
  fill: #fff !important;
  color: #151513 !important;
}

/* 搜索栏 */
input#txt {
  border: 2px solid #888;
  background: rgba(255, 255, 255, 0.66) !important;
  border-radius: 50px;
}
input#txt::placeholder {
  font-size: 18px;
  color: #888;
}
.night input#txt {
  background: rgba(0, 0, 0, 0.55) !important;
}
.sousuo {
  padding: 88px 0;
}
div.search {
  width: 96%;
  /* 搜索框缩短 - 先快后慢 */
  transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 1);
}
div.search:hover {
  width: 100%;
  /* 搜索框拉长 - 先快后慢 */
  transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 1);
}
.search-input {
  font-size: 18px !important;
  color: #000 !important;
}
.night .search-input {
  color: #fff !important;
}
.search-icon {
  left: 5px;
}
.search-engine {
  background: rgba(255, 255, 255, 0.66) !important;
  backdrop-filter: saturate(160%) blur(18px);
}
.night .search-engine {
  background: rgba(0, 0, 0, 0.55) !important;
}
ul.search-engine-list.search-engine-list_zmki_ul {
  list-style: none;
  padding-left: 26px;
}
.search-engine-list li {
  background: none !important;
  color: #222;
  font-size: 17px;
}
.night .search-engine-list li {
  color: #ddd;
}
.search-engine-tool {
  font-size: 17px;
}
strong.search-engine-tit {
  font-size: 18px;
}
.search-engine-tool > span{
  float: right;
  display: inline-block;
  width: 25px;
  height: 15px;
  background: url('https://cdn.jsdelivr.net/gh/hassanblog/CDN@v20210405/navi/off_on.png') no-repeat 0px 0px;
  cursor: pointer;
  vertical-align: middle;
}

/* 网址卡片 - 毛玻璃 */
.xe-widget.xe-conversations {
  border-radius: 10px;
  border: 2px solid #aaa;
  background: rgba(255, 255, 255, 0.66) !important;
  backdrop-filter: saturate(160%) blur(18px);
}
.night .xe-widget.xe-conversations {
  border: 2px solid #aaa;
  background: rgba(0, 0, 0, 0.55) !important;
}

/* 网站背景 */
div.bg {
  /* position一定要加fixed，可以使图片固定在浏览器，bg-attachment没这好使 */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("https://cdn.jsdelivr.net/gh/hassanblog/CDN@v20210405/navi/TortoiseFairyHouse.jpg")
    no-repeat center center;
  background-size: cover; /* 填充 */
}
.night div.bg {
  background: url("https://cdn.jsdelivr.net/gh/hassanblog/CDN@v20210405/navi/TortoiseFairyHouse_dark.png")
    no-repeat center center;
  background-size: cover; /* 填充 */
}

/* 关于我页面 */
body.page-body.boxed-container.vsc-initialized {
  /* 禁止滚动 */
  overflow: hidden;
}
.boxed-container div .main-content {
  background: rgba(255, 255, 255, 0.66) !important;
}
.night.boxed-container div .main-content {
  background: rgba(0, 0, 0, 0.66) !important;
}

/* 左侧栏 */
.sidebar-menu .main-menu {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
a.smooth {
  border-radius: 10px;
}
.sidebar-menu-inner.ps-container {
  background: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN@v20210405/navi/LeftColumn.jpg) !important;
  background-attachment: fixed;
}
.sidebar-menu.collapsed .sidebar-menu-inner {
  position: fixed;
}
.sidebar-menu .main-menu a {
  border: none;
}
.sidebar-menu .main-menu a:hover {
  background: #888;
  border-radius: 10px;
}
.sidebar-menu .main-menu a:hover i,
.sidebar-menu .main-menu a:hover span {
  color: #fff;
}

/* 底栏 */
footer.main-footer.sticky.footer-type-1 {
  background: rgba(255, 255, 255, 0.66) !important;
  backdrop-filter: saturate(160%) blur(18px);
}
.night footer.main-footer.sticky.footer-type-1 {
  background: rgba(0, 0, 0, 0.55) !important;
}
.footer-inner p {
  text-align: center;
  vertical-align: center;
}

/* 字体 --------------------------------------------------------- 开始 */
@font-face {
  font-family: "Candy"; /* 字体名自定义即可 */
  src: url("https://cdn.jsdelivr.net/gh/hassanblog/navigation/fonts/Candy.ttf"); /* 字体文件路径 */
  font-display: swap;
}
/* 网址卡片标题 */
h4.text-gray {
  font-family: "Candy", sans-serif;
  font-size: 24px;
  color: #fff;
  text-shadow: -1px 0 #666, 0 1px #666, 1px 0 #666, 0 -1px #666;
  margin: 20px 0 0 0;
  text-align: center;
}
.col-md-12 h4.text-gray {
  color: #666;
  text-align: left;
}
.night .col-md-12 h4.text-gray {
  color: #fff;
}
strong {
  font-family: "Candy", sans-serif;
  font-size: 18px;
  font-weight: normal;
}
p.overflowClip_2 {
  font-size: 16px;
  color: #808080;
}
.night p.overflowClip_2 {
  color: #aaa !important;
}


/* 左侧栏 */
span.title,
span.tooltip-blue,
span#busuanzi_container_site_pv,
span#busuanzi_value_site_pv,
span#busuanzi_container_site_uv,
span#busuanzi_value_site_uv {
  font-family: "Candy", sans-serif !important;
  color: #bbb;
  font-size: 17px;
}

/* icon图标 */
i::before {
  font-size: 17px;
}
/* 网址卡片标题图标 */
.linecons-tag:before {
  font-size: 24px;
}
/* 搜索图标 */
.fa-search {
  color: #aaa;
}
.fa-search:hover {
  color: #666;
}
.fa-search:before {
  font-size: 24px;
}
/* 展开箭头 */
.sidebar-menu .main-menu li.has-sub > a:before {
  font-size: 17px;
}
/* 右下角回到首页图标 */
.night div.go-up a i {
  color: #fff;
}

/* 底栏 */
.footer-inner p {
  font-size: 16px;
  color: #666;
}
.night .footer-inner p {
  color: #bbb;
}
blockquote p a,
.footer-inner strong {
  color: #6ac6bc;
}
.night blockquote p a,
.night .footer-inner strong {
  color: #62cec4;
}
/* 字体 --------------------------------------------------------- 结束 */

/* 鼠标图标 -----------------------------------------------------------------------开始 */
body {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor.png),
    default !important;
}

/*i标签，a标签，按钮，头部的导航栏，网址卡片，底栏链接*/
i:hover,
a:hover,
button:hover,
#nav .site-page:hover,
.xe-widget.xe-conversations.box2.label-info {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_puppy.png),
    pointer !important;
}

/*页脚a标签，分页器，搜索框*/
#footer-wrap a:hover,
#pagination .page-number:hover,
input#txt {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_stitch.png),
    pointer !important;
}
/* 鼠标图标 -----------------------------------------------------------------------结束 */

/* 滚动条 */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #d0f2ee;
}
::-webkit-scrollbar-thumb {
  background-color: #222;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 5em;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-moz-selection {
  color: #fff;
  background-color: #1f1f1f;
}

/* 左上角语言 */
@media screen and (min-width: 769px) {
  li.dropdown.hover-line.language-switcher {
    display: none;
  }
}
